<div class="p-5">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-12 col-xl-6">
      <div class="top-right-header">
        <button mat-icon-button (click)="signOut()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      <div class="p-5" *ngIf="user$ | async as user">
        <div class="row">
          <div class="col-12 card">
            <h2 class="pb-5">Estás accediendo a un grupo</h2>
            <button mat-flat-button color="primary" [routerLink]="['.', 'dashboard']">Ir al Dashboard</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
