<div class="list h-82vh" *ngIf="groups">
  <div *ngFor="let group of groups">
    <h3 class="area-name text-large font-concert-one">{{getAreaName(group.area)}}</h3>
    <div *ngFor="let line of group.group">
      <h3 class="line-name text-medium font-ubuntu-condensed">{{line.line}}</h3>
      <sspirit-task-card class="item" *ngFor="let task of line.tasks" [showPersonalObjective]="showPersonalObjective" [label]="label"
                         (press)="selectTask.emit(task)" [task]="task"></sspirit-task-card>
    </div>
  </div>
</div>
