<div class="container-fluid" *ngIf="beneficiary$ | async as beneficiary; else loading">
  <div class="row">
    <div class="col-portrait-12 col-landscape-6 pr-4">
      <div class="row justify-content-start">
        <div class="col-12 pb-2">
          <button ngxClipboard *ngIf="shareUrl$ | async as shareUrl"
                  mat-ripple
                  [cbContent]="shareUrl"
                  (cbOnSuccess)="onClipboardResult(true)"
                  (cbOnError)="onClipboardResult(false)"
                  class="btn btn-lg btn-outline-dark w-100">
            <!--suppress HtmlUnknownTag -->
            <div class="row justify-content-between">
              <span class="col-8">Compartir ficha</span>
              <mat-icon class="col-4">share</mat-icon>
            </div>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <h1 class="font-concert-one text-primary mb-0 text-left">{{beneficiary["full-name"]}}</h1>
          <h2 class="font-ubuntu-condensed text-accent mt-0 text-left text-medium">{{getStage(beneficiary.stage)}}</h2>
        </div>
        <div class="col-5">
          <div class="icon-md">
            <sspirit-unit-icon [unit]="beneficiary.unit"></sspirit-unit-icon>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-6 pr-5">
          <sspirit-avatar-picture [src]="beneficiary.profilePicture"></sspirit-avatar-picture>
        </div>
        <div class="col-6 pl-5">
          <sspirit-radar-chart theme="primary" label="objetivos cumplidos"
                               [values]="beneficiary.nTasks"></sspirit-radar-chart>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="pt-5 pb-5">
            <sspirit-task-card [task]="beneficiary.target"></sspirit-task-card>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <sspirit-select-buttons (valueChange)="onOption($event)" [value]="option$ | async"
                                  [items]="buttons"></sspirit-select-buttons>
        </div>
      </div>
    </div>
    <div class="col-portrait-12 col-landscape-6 pl-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 justify-content-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</ng-template>
