<h3 class="text-left">Create Zone</h3>
<form [formGroup]="rewardForm" (ngSubmit)="createZone()">
  <mat-form-field>
    <mat-label>Rareza</mat-label>
    <mat-select [formControl]="rarity">
      <mat-option [value]="'COMMON'">Común</mat-option>
      <mat-option [value]="'RARE'">Raro</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Código de Ítem</mat-label>
    <label>
      <input (blur)="formatCode()" [formControl]="code" autocomplete="off" matInput placeholder="fireplace">
    </label>
  </mat-form-field>

  <button type="submit" [disabled]="rewardForm.invalid || loading" mat-raised-button color="primary">Crear</button>
</form>
