@import "src/styles"

.unit-icon
  height: 32px
  width: 32px

.unit-label
  text-align: center
  color: $brand-primary-color

.avatar
  width: 100%

.beneficiary-media
  display: flex
  padding-bottom: 15%
  flex-direction: row
  > *
    flex: 1
