<div class="row">
  <div class="col-6">
    <h3 class="highlight-label">Beneficiarios registrados</h3>
    <p class="highlight-value">
      13
    </p>
  </div>
  <div class="col-6">
    <h3 class="highlight-label">Objetivos completados</h3>
    <p class="highlight-value">
      31
    </p>
  </div>
  <div class="col-6">
    <h3 class="highlight-label">Uso de la aplicación últimos 7 días</h3>
  </div>
  <div class="col-6">
    <h3 class="highlight-label">Top 3 áreas de desarrollo</h3>
  </div>
</div>
