<div class="row" *ngIf="(stats$ | async) as stats; else loading">
  <div class="col-landscape-6 col-portrait-6">
    <div class="summary-container">
      <h3 class="highlight-label">Beneficiarios registrados</h3>
      <p class="highlight-value">
        {{nBeneficiaries$ | async}}
      </p>
    </div>
  </div>
  <div class="col-landscape-6 col-portrait-6">
    <div class="summary-container">
      <h3 class="highlight-label">Objetivos completados</h3>
      <p class="highlight-value">
        {{stats.logCount.completed}}
      </p>
    </div>
  </div>
  <div class="col-landscape-6 col-portrait-12">
    <div class="summary-container">
      <h3 class="highlight-label">Uso de la aplicación últimos 4 meses</h3>
      <sspirit-linear-chart *ngIf="logCount$ | async as logCount" [values]="logCount"></sspirit-linear-chart>
    </div>
  </div>
  <div class="col-landscape-6 col-portrait-12">
    <div class="summary-container">
      <h3 class="highlight-label">Áreas de desarrollo con más avances registrados</h3>
      <sspirit-area-ranking *ngIf="ranking$ | async as ranking" [rankingAreas]="ranking"></sspirit-area-ranking>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="row">
    <div class="col justify-content-center">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </div>
</ng-template>
<ng-template #details let-modal>
  <div class="modal-body">
    <router-outlet></router-outlet>
  </div>
</ng-template>
