@import '~bootstrap/scss/bootstrap'
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

@import 'src/assets/scss/variables'

html
  font: 0.3em Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif

@media (min-width: 540px)
  html
    font-size: 0.6em

@media (min-width: 980px)
  html
    font-size: 0.8em

@media (min-width: 1367px)
  html
    font-size: 1em

@media (min-width: 2400px)
  html
    font-size: 1.4em

@media (min-width: 3600px)
  html
    font-size: 1.8em

.col-portrait-0
  -ms-flex: 0 0 0.0%
  flex: 0 0 0.0%
  max-width: 0.0%

.col-portrait-1
  -ms-flex: 0 0 8.333333%
  flex: 0 0 8.333333%
  max-width: 8.333333%

.col-portrait-2
  -ms-flex: 0 0 16.666667%
  flex: 0 0 16.666667%
  max-width: 16.666667%

.col-portrait-3
  -ms-flex: 0 0 25%
  flex: 0 0 25%
  max-width: 25%

.col-portrait-4
  -ms-flex: 0 0 33.333333%
  flex: 0 0 33.333333%
  max-width: 33.333333%

.col-portrait-5
  -ms-flex: 0 0 41.666667%
  flex: 0 0 41.666667%
  max-width: 41.666667%

.col-portrait-6
  -ms-flex: 0 0 50%
  flex: 0 0 50%
  max-width: 50%

.col-portrait-7
  -ms-flex: 0 0 58.333333%
  flex: 0 0 58.333333%
  max-width: 58.333333%

.col-portrait-8
  -ms-flex: 0 0 66.666667%
  flex: 0 0 66.666667%
  max-width: 66.666667%

.col-portrait-9
  -ms-flex: 0 0 75%
  flex: 0 0 75%
  max-width: 75%

.col-portrait-10
  -ms-flex: 0 0 83.333333%
  flex: 0 0 83.333333%
  max-width: 83.333333%

.col-portrait-11
  -ms-flex: 0 0 91.666667%
  flex: 0 0 91.666667%
  max-width: 91.666667%

.col-portrait-12
  -ms-flex: 0 0 100%
  flex: 0 0 100%
  max-width: 100%

@media (orientation: landscape) and (min-width: 980px)
  .col-landscape-0
    -ms-flex: 0 0 0.0%
    flex: 0 0 0.0%
    max-width: 0.0%
  .col-landscape-1
    -ms-flex: 0 0 8.333333%
    flex: 0 0 8.333333%
    max-width: 8.333333%
  .col-landscape-2
    -ms-flex: 0 0 16.666667%
    flex: 0 0 16.666667%
    max-width: 16.666667%
  .col-landscape-3
    -ms-flex: 0 0 25%
    flex: 0 0 25%
    max-width: 25%
  .col-landscape-4
    -ms-flex: 0 0 33.333333%
    flex: 0 0 33.333333%
    max-width: 33.333333%
  .col-landscape-5
    -ms-flex: 0 0 41.666667%
    flex: 0 0 41.666667%
    max-width: 41.666667%
  .col-landscape-6
    -ms-flex: 0 0 50%
    flex: 0 0 50%
    max-width: 50%
  .col-landscape-7
    -ms-flex: 0 0 58.333333%
    flex: 0 0 58.333333%
    max-width: 58.333333%
  .col-landscape-8
    -ms-flex: 0 0 66.666667%
    flex: 0 0 66.666667%
    max-width: 66.666667%
  .col-landscape-9
    -ms-flex: 0 0 75%
    flex: 0 0 75%
    max-width: 75%
  .col-landscape-10
    -ms-flex: 0 0 83.333333%
    flex: 0 0 83.333333%
    max-width: 83.333333%
  .col-landscape-11
    -ms-flex: 0 0 91.666667%
    flex: 0 0 91.666667%
    max-width: 91.666667%
  .col-landscape-12
    -ms-flex: 0 0 100%
    flex: 0 0 100%
    max-width: 100%

#background
  background: linear-gradient(252.44deg, $gradient-primary 0%, $gradient-accent 100%)
  position: fixed
  z-index: -1
  top: 0
  left: 0
  right: 0
  bottom: 0


body
  background: none

#sspirit
  .list-group.toolbar
    display: flex
    flex-direction: row
    border-bottom: none
    padding-bottom: 1rem
    flex-wrap: wrap

  .list-group-item
    display: flex
    flex-direction: column
    justify-content: center
    flex: 1
    text-align: center
    padding: 1.5rem 1rem
    margin-left: 0.75rem
    margin-right: 0.75rem
    border-radius: 1rem
    background-color: transparent
    border: $brand-primary-color solid 0.19rem
    color: $brand-primary-color
    font-size: 1.3rem

  .list-group-item:hover
    background-color: rgba(#777777, 0.1)

  .list-group-item:not(.active)
    cursor: pointer

  .list-group-item.active
    background-color: $brand-primary-color
    border: none
    color: white
    cursor: default
    box-shadow: 0 0 1.68rem 0.3125rem rgba(93, 36, 255, 0.25)

.highlight-label
  margin-top: 1.63rem
  color: $brand-primary-color
  font-size: 1.5rem
  text-align: start

.highlight-value
  color: $brand-primary-color
  padding: 1.5rem 1rem
  font-size: 7.25rem
  text-align: start

.btn-primary
  background-color: $brand-primary-color
  border: none

.mat-body, .mat-body-1, .mat-typography
  font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important

.mat-icon-light
  color: $brand-primary-color

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary
  color: $brand-primary-color

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary
  background-color: $brand-primary-color

.h-82vh
  height: 82vh

h1, h2, h3, h4
  text-align: center
  font-family: Ubuntu Condensed, sans-serif
  line-height: 1.2

h1
  font-size: 1rem !important

h2
  font-size: 2.2rem !important
  font-weight: lighter
  padding-bottom: 1rem

h3
  font-size: 1.2rem !important
  padding-bottom: 0.5rem


.card
  box-shadow: 0.68rem 0.38rem 5rem 0.75rem rgba(255, 255, 255, 0.33)
  border-radius: 1.125rem
  padding: 3.125rem 2.18rem

.big-tooltip
  font-size: 1rem

.cdk-overlay-container
  z-index: 99999 !important

.top-right-header
  position: fixed
  top: 1rem
  left: 1rem
  color: white

.mat-icon-large
  font-size: 4rem
  height: 4rem !important
  width: 4rem !important

.mat-form-field
  cursor: text


.cursor-pointer
  cursor: pointer

.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled
  background-color: rgba(0, 0, 0, .12)
  min-width: 1rem

.debug-1
  background-color: rgba(255, 0, 0, .3)

.debug-2
  background-color: rgba(0, 128, 0, .3)

.debug-3
  background-color: rgba(255, 255, 0, .3)


.light-hoverable
  background-color: white

.light-hoverable:hover
  background-color: rgba(#777777, 0.1)

.dark-hoverable
  background-color: $brand-primary-color

.dark-hoverable:hover
  background-color: rgba(#777777, 0.1)

a
  color: $brand-primary-color
  font-weight: 600

a.inactive
  color: #777777

.fixed-height-medium
  height: 3.25rem

.fixed-width-medium
  width: 3.25rem

.fixed-height-large
  height: 6.75rem

.fixed-width-large
  width: 6.75rem

.flex
  display: flex

.flex-1
  flex: 1

.select-btn
  padding: 1rem 1.5rem
  border: solid 0.12rem $brand-primary-color
  border-radius: 0.75rem
  font-family: 'Ubuntu Condensed', sans-serif
  font-size: 1.2rem
  color: $brand-primary-color
  background-color: transparent
  cursor: pointer
  text-align: center

.select-btn.active
  color: white
  background-color: $brand-primary-color
  box-shadow: 0 0 0.56rem #5D24FF
  cursor: default

.select-btn:not(.active):hover
  background-color: rgba(#777777, 0.1)

.font-concert-one
  font-family: 'Concert One', sans-serif !important
  line-height: 1.1

.font-ubuntu-condensed
  font-family: 'Ubuntu Condensed', sans-serif !important

.font-ubuntu
  font-family: 'Ubuntu', sans-serif !important

.text-primary
  color: $brand-primary-color !important

.text-accent
  color: $brand-accent-color !important

.text-muted
  color: $brand-muted-color !important

.text-primary
  color: $brand-primary-color !important

.text-xsmall
  font-size: 0.5rem !important

.text-small
  font-size: 0.8rem !important

.text-medium
  font-size: 1rem !important

.text-large
  font-size: 1.2rem !important

.text-xlarge
  font-size: 1.8rem !important

.rounded-btn
  border-radius: 4rem !important

.between-row
  display: flex
  justify-content: space-between
  flex-direction: row

.swal2-styled.swal2-confirm
  background-color: $brand-primary-color !important

.mat-icon.mat-primary
  color: $brand-primary-color !important

.mat-progress-spinner circle, .mat-spinner circle
  stroke: $brand-primary-color !important

.cursor-pointer
  cursor: pointer

.modal-dialog, .modal-content
  border-radius: 0.8rem

.modal-content
  padding: 0.88rem 2rem
  box-shadow: 0.69rem 0.38rem 5.06rem 0.75rem rgba(255, 255, 255, 0.33)

.icon-sm
  width: 2rem

.icon-md
  width: 4rem

.row
  margin-right: 0 !important
  margin-left: 0 !important

.mat-toolbar.mat-primary
  background: $brand-primary-color !important

.spacer
  flex: 1 1 auto

.modal-view
  .modal-dialog
    margin-top: 5em
    width: 100%
    max-width: none

  @media (orientation: landscape) and (min-width: 740px)
    .modal-dialog
      width: 90%
