<div class="row ml-1 mr-1">
  <div class="col-12">
    <div class="row justify-content-around">
      <div class="col-2 select-btn fixed-height-large p-2" [ngClass]="{active: value === unit.unit}" mat-ripple
           *ngFor="let unit of units"
           (click)="valueChange.emit(unit.unit)">
        <div>
          <div class="flex-row justify-content-between">
            <sspirit-unit-icon [color]="value === unit.unit ? null : 'primary'" [unit]="unit.unit"></sspirit-unit-icon>
            <span class="text-center text-small"
                  [ngClass]="{'text-primary': value !== unit.unit, 'text-light': value === unit.unit}">{{unit.unit}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <a class="mt-1" [ngClass]="{inactive: value === null}" [routerLink]="[]" (click)="valueChange.emit(null)">De-seleccionar</a>
  </div>
</div>
