.box
  width: 100%
  position: relative

.icon-large
  height: 64px
  width: 64px
  font-size: 4rem

.inner
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.task-card
  display: flex
  background: #FFFFFF
  border-radius: 18px
  padding: 20px 32px 20px 32px
  overflow: hidden
  flex-direction: column

  .area
    font-size: 1rem

  .body
    font-size: medium

  .key-label
    font-size: 1rem

  .area-icon
    position: absolute
    right: 10%
    bottom: 10%
    transform: scale(2) rotate(-45deg)
    width: 45%
    height: 45%
