<div #container id="radar-chart" class="w-100" style="height: 50vh">
  <canvas id="canvas" #radar></canvas>
  <div *ngFor="let area of areas" class="radar-icon"
       [ngStyle]="{top: areaPositions[area][1] - 32 + 'px', left: areaPositions[area][0] - 32 + 'px'}">
    <button mat-stroked-button matTooltipClass="big-tooltip" [matTooltip]="getAreaName(area) + ' (' + this.values[area] + ' ' + this.label + ')'">
      <sspirit-area-icon [area]="area" [color]="null"></sspirit-area-icon>
    </button>
  </div>
</div>
