#radar-chart
  canvas
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
  .radar-icon
    position: absolute
    width: 64px
    height: 64px
    color: white
    *
      color: white !important
    button
      padding: 8px
      height: 100%
      width: 100%
      border-radius: 32px
